.projects {
  display: flex;
  gap: 1vw;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vw;
}

.projects_heading {
  font-size: 45px;
  font-weight: bold;
  color: black;

  position: absolute;
  top: 5vw;
  left: 20vw;
}

.projects_content_wrapper {
  width: 100%;
}

.projects_content {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 3vw 0;
}

@media (max-width: 1000px) {
  .projects_heading {
    position: static;
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .projects {
    gap: 0;
  }
  .projects_content_wrapper {
    padding-top: 3vw;
  }

  .projects_content {
    gap: 2vw;
  }
}
