.header_navigation {
  display: none;
  position: relative;
}

.header_navigation_bar {
  position: absolute;
  top: 15%;
  width: 5vw;
  left: 5%;

  fill: white;
}

.header_navigation_bar_mobile {
  /* display: none; */
  width: 100%;
  height: 5vw;
  background-color: #93caf9;
}

@media (max-width: 600px) {
  .header_navigation {
    display: block;
    height: 22vw;
  }
}

.side_nav {
  position: absolute;
  width: clamp(100px, 70vw, 400px);
  height: max(100vh, 100%);
  background-color: #fff;
  transform: translateX(-400px);
  transition: transform 500ms;
  z-index: 1000;

  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  top: 0;
}

.side_nav_sticky {
  position: sticky;
  height: 100vh;
  top: 0%;
}

.close_side_nav_btn {
  width: 4vw;

  position: absolute;
  top: 3%;
  right: 8%;
}

.side_nav.show {
  transform: translateX(0px);
}

.side_nav_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: clamp(100px, 70vw, 400px);
  height: 100vh;
  object-fit: cover;
}

.side_nav_items {
  padding: 10vw 14vw;
  font-size: 6vw;
}

.side_nav_items li {
  margin-bottom: 10px;
  cursor: pointer;
  width: fit-content;

  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    #64aef2 90%,
    #64aef2 100%
  );

  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms;

  text-indent: 0;
  list-style-type: none;

  font-size: 6vw;
}

.side_nav_items li:hover {
  background-size: 100% 100%;
  background-position-x: left;
}
