.footer_social {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;

  border-radius: 0.2vw;
}

.footer_social > span {
  color: black;
  padding: 0.2vw 0.5vw;
  font-size: 1vw;
}

.footer_social_logo_wrapper {
  padding: 0.2vw;
  background-color: #e8f4ff;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 0.2vw;
  border-bottom-left-radius: 0.2vw;
}

.footer_social_logo {
  width: 2vw;
  height: 2vw;
}

@media (max-width: 1000px) {
  .footer_social > span {
    padding: 0.5vw 1vw;
    font-size: 1.5vw;
  }

  .footer_social_logo {
    height: 3vw;
    width: 3vw;
  }
}

@media (max-width: 600px) {
  .footer_social > span {
    padding: 1vw 2vw;
    font-size: 3vw;
  }

  .footer_social_logo {
    height: 7vw;
    width: 7vw;
  }
}
